<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="BASHAConnnection" connectionString="Data Source=888-COE-006\MSSQL2K16;Initial Catalog=Nucleio.BASHA.Database;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>